//variables
$heavy-yellow: #ECC77D;
$light-yellow: #FDECD2;
$heavy-metal: #212121;
$white: #F8F8F8;
//transition ease
$ease: cubic-bezier(0.43, 0.13, 0.23, 0.9);

@mixin flex($alignItems: center, $justifyContent: center, $flexDirection: column) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
}

//fontface
$Apercu: Apercu,
sans-serif;
$Goldman-regular: Goldmansans,
sans-serif;
$Goldman-bold: Goldmansans-Bold,
sans-serif;
$Goldman-medium: Goldmansans-Med,
sans-serif;
$Romantically: Romantically,
sans-serif;
$GenSenMaru-bold: GenSenMaru-Bold,
sans-serif;
$GenSenMaru-medium: GenSenMaru-Medium,
sans-serif;

@font-face {
    font-family: 'Goldmansans';
    src:
        url('./font/GoldmanSans_W_Rg.woff2') format('woff2'),
        url('./font/GoldmanSans_Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'Goldmansans-Med';
    src:
        url('./font/GoldmanSans_W_Md.woff2') format('woff2'),
        url('./font/GoldmanSans_Md.ttf') format('truetype');
}

@font-face {
    font-family: 'Goldmansans-Bold';
    src:
        url('./font/GoldmanSans_W_Bd.woff2') format('woff2'),
        url('./font/GoldmanSans_Bd.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu';
    src:
        url('./font/Apercu_Re.woff2') format('woff2'),
        url('./font/Apercu_Re.ttf') format('truetype');
}

@font-face {
    font-family: 'GenSenMaru-Bold';
    font-display: swap;
    src:
        url('./font/GenSenMaruGothicTW-Bold.woff2') format('woff2'),
        url('./font/GenSenMaruGothicTW-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GenSenMaru-Medium';
    font-display: swap;
    src:
        url('./font/GenSenMaruGothicTW-Medium.woff2') format('woff2'),
        url('./font/GenSenMaruGothicTW-Medium.ttf') format('truetype');
}