@import "_variables.scss";

html,
body,
#root {
  height: 100%;
  // WebKit-based browsers will ignore this
  min-height: -moz-available;
  // Mozilla-based browsers will ignore this.
  min-height: -webkit-fill-available;
  // For WebKit-based browsers, Edge not support this
  min-height: fill-available;
  width: 100vw;
  margin: 0%;
  padding: 0;
  color: $heavy-metal;
  overflow: hidden;
}

body {
  position: relative;
  background: $heavy-yellow;
}

//loading-page
.loading-wrapper {
  position: absolute;
  @include flex($flexDirection: null);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f3f3f3;
  z-index: 10;

  .loading-inner {
    position: relative;
    @include flex;
    height: 90%;

    .loading-logo {
      width: fit-content;
      transform: translateY(-20px);

      img {
        width: 70%;
        float: right;
      }
    }

    .hu-lab {
      position: absolute;
      bottom: 0;
      font-size: 10px;
      letter-spacing: 2px;
      opacity: 0.8;
    }
  }
}


//header
.header {
  position: absolute;
  width: 100%;
  top: 2%;
  z-index: 5;

  .header-inner {
    @include flex ($justifyContent: space-between, $flexDirection: null);
    padding: 0 25px 0 40px;

    .hu-lab {
      transform: translateY(-6px);
      font-family: "Futura", sans-serif;
      font-size: calc(10px + 0.5vw);
    }

    .yummy {
      width: 200px;

      img {
        width: 50%;
        float: right;
      }
    }
  }
}

.main-text {
  position: absolute;
  top: 13%;
  left: 9%;

  div:nth-child(1) {
    font-family: $Apercu;
    font-size: 17px;
  }

  div:nth-child(2) {
    font-family: $Goldman-bold;
    font-size: 26px;
    padding-top: 2%;
  }
}

//card
.card {
  position: absolute;
  @include flex ($justifyContent: null);
  height: 75%;
  width: 100%;
  bottom: 0;
  background: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  .text {
    padding-top: calc(30px + 1vh);
    font-family: $Apercu;
    text-align: center;
    font-size: 14px;
  }
}

.jar-tsai {
  position: absolute;
  left: 3%;
  bottom: 10px;
  font-family: $Apercu;
  font-size: 10px;
  opacity: 0.5;
  z-index: 4;
}

.canvas {
  height: 30% !important;
  width: 90% !important;
  margin: 5% 5% 10% 5%;
  z-index: 5;
}

//general setting
.button-wrapper {
  position: absolute;
  @include flex ($justifyContent: null);
  bottom: 10%;

  div:nth-child(1) {
    font-family: $Goldman-medium;
    font-size: 18px;
    font-weight: 500;
  }

  .button {
    border: none;
    margin-top: 15px;
    height: 60px;
    width: 151px;
    border-radius: 30px;
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.09);
    background: $heavy-yellow;

    a {
      color: $heavy-metal;
      text-decoration: none;

      .button-inner {
        @include flex($flexDirection: null);

        .dice {
          img {
            width: 30px;
            height: 30px;
          }
        }

        .CTA {
          margin-left: 10px;
          font-family: $Goldman-bold;
          font-size: 19px;
        }
      }
    }
  }
}

//main-slider
.slide-wrapper {
  position: relative;
  height: 50%;
  width: 100%;

  .slide-wrapper-inner {
    @include flex($justifyContent: null, $flexDirection: null);
    height: 100%;
    width: 300px;
    padding-left: 15%;
    overflow: scroll;
    scrollbar-width: none;
    transform: translateY(10%);
    float: right;

    &::-webkit-scrollbar {
      display: none;
    }

    .blank-space {
      position: relative;
      min-width: 15px;
      min-height: 20px;
    }
  }

  .slide-card {
    position: relative;
    background: #EBEBEB;
    border-radius: 20px;
    height: 75%;
    width: 150px;
    min-width: 140px;
    min-height: 210px;
    margin: 8% 20px 5% 3%;
    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.12);
    transition: all 300ms $ease;

    @media (max-height: 709px) {
      margin: 8% 25px 5% 3%;
    }

    .slide-inner {
      position: relative;
      @include flex($alignItems: null, $justifyContent: null);
      height: 90%;
      min-height: 190px;

      .slide-img {
        width: 100%;
        height: 100%;
        transition: transform 300ms $ease;

        picture {
          width: 100px;
          height: 100px;
        }
      }

      .slide-letter {
        position: absolute;
        @include flex($alignItems: null, $justifyContent: null);
        bottom: 0%;
        margin: 0 10% 0 15%;

        span:nth-child(1) {
          font-family: $Goldman-medium;
        }

        span:nth-child(2) {
          margin-top: 5px;
          font-family: $Goldman-regular;
          font-size: 11px;
          word-break: normal;
          opacity: 0.4;
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      left: 0;
      top: 0;
    }
  }

  .rich {
    .slide-img {
      transform: translate(-30%, 10%);

      img {
        width: 105%;
      }
    }
  }

  .poor {
    .slide-img {
      transform: translate(-10%, -15%);

      img {
        width: 95%;
      }
    }
  }

  .any {
    .slide-img {
      transform: translate(-10%, 5%);

      img {
        width: 100%;
      }
    }
  }

  .checked {
    background: $light-yellow;
    transform: translate(-6%, -6%);

    .slide-img {
      transform: rotateZ(12deg);
    }
  }
}

#answer {
  position: absolute;
  @include flex($justifyContent: null);
  height: 100%;
  width: 100%;
  background: $white;

  .meal-goes {
    position: relative;
    @include flex($justifyContent: null, $flexDirection: null);
    top: 11%;
    left: -22%;

    div:nth-child(2) {
      margin-left: 10px;
      font-family: $Apercu;
    }
  }

  .answer-card {
    position: relative;
    @include flex($alignItems: null, $justifyContent: center);
    background: $light-yellow;
    height: 55%;
    width: 75%;
    top: 13%;
    border-radius: 30px;
    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.1);

    .card-top {
      position: relative;
      @include flex(center, null);

      .rich-or-poor {
        position: relative;
        @include flex($justifyContent: null, $flexDirection: null);
        left: -15%;
        font-family: $GenSenMaru-medium;
        font-size: 11.3px;
        opacity: 0.6;

        div:nth-child(2) {
          margin-left: 8px;
        }
      }

      div:nth-child(3) {
        font-family: $GenSenMaru-bold;
        font-size: 26px;
        margin: 3% 0 7% 0;
      }
    }

    .canvas {
      height: 18vh !important;
      width: 90% !important;
    }


    .hz-line {
      background: $heavy-metal;
      height: 0.7px;
      width: 100%;
      opacity: 0.5;
    }

    .card-info {
      margin: 5% 0 0 30px;
      color: $heavy-metal;

      .price {
        @include flex($justifyContent: null, $flexDirection: null);
        font-size: 20px;
        font-family: $GenSenMaru-bold;
        transform: translateX(-5%);
        opacity: 0.7;

        span:nth-child(2) {
          padding-left: 6px;
          font-size: 11px;
          transform: translateY(4px);
        }

        .coin {
          margin: 4px 7px 0 0;

          img {
            width: 23px;
          }
        }
      }

      div:nth-child(2) {
        padding-top: 5px;
        padding-left: 16px;
        font-size: 16px;
        font-family: $GenSenMaru-medium;
        opacity: 0.9;
      }

      div:nth-child(3) {
        margin: 5px 10% 0 0;
        padding-left: 16px;
        font-size: 12px;
        font-family: $GenSenMaru-medium;
        opacity: 0.43;
      }
    }
  }

  .button-wrapper {
    div:nth-child(1) {
      font-size: 18px;
    }

    .button {
      width: calc(200px + 10vw);
    }
  }
}

.pick {
  position: relative;
  @include flex($justifyContent: null, $flexDirection: null);
  top: calc(5% + 1vh);
  left: -27%;

  div:nth-child(2) {
    font-size: 14px;
    margin-left: 10px;
    font-family: $Apercu;
  }
}