//variables
$heavy-yellow: #ECC77D;
$light-yellow: #FDECD2;
$heavy-metal: #212121;
$white: #F8F8F8;

$ease: cubic-bezier(0.43, 0.13, 0.23, 0.9);

//fontface
$Apercu: Apercu,
sans-serif;
$Goldman-regular: Goldmansans,
sans-serif;
$Goldman-bold: Goldmansans-Bold,
sans-serif;
$Goldman-medium: Goldmansans-Med,
sans-serif;
$Romantically: Romantically,
sans-serif;
$PingFong: PingFong,
sans-serif;

@font-face {
  font-family: 'Goldmansans';
  src:
    url('./font/GoldmanSans_W_Rg.woff2') format('woff2'),
    url('./font/GoldmanSans_Rg.ttf') format('truetype');
}

@font-face {
  font-family: 'Goldmansans-Med';
  src:
    url('./font/GoldmanSans_W_Md.woff2') format('woff2'),
    url('./font/GoldmanSans_Md.ttf') format('truetype');
}

@font-face {
  font-family: 'Goldmansans-Bold';
  src:
    url('./font/GoldmanSans_W_Bd.woff2') format('woff2'),
    url('./font/GoldmanSans_Bd.ttf') format('truetype');
}

@font-face {
  font-family: 'Apercu';
  src:
    url('./font/Apercu_Re.woff2') format('woff2'),
    url('./font/Apercu_Re.ttf') format('truetype');
}

@font-face {
  font-family: 'PingFong';
  src:
    url('./font/PingFangHK-Regular.woff2') format('woff2'),
    url('./font/PingFangHK-Regular.otf') format('opentype');
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0%;
  padding: 0;
  color: $heavy-metal;
  overflow: hidden;
}

body {
  background: $heavy-yellow;
}

//header
.header {
  position: absolute;
  width: 100%;
  top: 2.5%;
  z-index: 5;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 40px;

    .hu-lab {
      font-family: "Futura", sans-serif;
      font-size: calc(10px + 0.5vw);
    }

    .yummy {
      img {
        width: 50%;
        float: right;
      }
    }
  }
}

.main-text {
  position: absolute;
  top: 13%;
  left: 9%;

  div:nth-child(1) {
    font-family: $Apercu;
    font-size: 17px;
  }

  div:nth-child(2) {
    font-family: $Goldman-bold;
    font-size: 28px;
    padding-top: 2%;
  }
}

//card
.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 100%;
  bottom: 0;
  background: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  .text {
    padding-top: calc(30px + 1vh);
    font-family: $Apercu;
    text-align: center;
    font-size: 14px;
  }
}

.jar-tsai {
  position: absolute;
  left: 3%;
  bottom: 1.5%;
  font-family: $Apercu;
  font-size: 10px;
  opacity: 0.5;
  z-index: 4;
}

.canvas {
  height: 30vh !important;
  width: 90% !important;
  margin: 5% 5% 10% 5%;
  z-index: 5;
}


//general setting
.button-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 10%;

  div:nth-child(1) {
    font-family: $Goldman-medium;
    font-size: 18px;
    font-weight: 500;
  }

  .button {
    background: $heavy-yellow;
    height: 60px;
    width: 151px;
    border-radius: 30px;
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.09);
    border: none;
    margin-top: 15px;

    a {
      color: $heavy-metal;
      text-decoration: none;

      .button-inner {
        display: flex;
        justify-content: center;
        align-items: center;

        .dice {
          img {
            width: 30px;
            height: 30px;
          }
        }

        .CTA {
          margin-left: 10px;
          font-family: $Goldman-bold;
          font-size: 19px;
        }
      }
    }
  }
}



//answerCard
#answer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: $white;
  font-family: $PingFong;

  .meal-goes {
    position: relative;
    display: flex;
    align-items: center;
    top: 11%;
    left: -22%;

    div:nth-child(2) {
      margin-left: 10px;
      font-family: $Apercu;
    }
  }

  .answer-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $light-yellow;
    height: 55vh;
    width: 80%;
    top: 13%;
    border-radius: 30px;
    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.1);


    .card-top {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .rich-or-poor {
        position: relative;
        display: flex;
        align-items: center;
        left: -15%;
        font-family: $PingFong;
        font-size: 12px;
        opacity: 0.6;

        div:nth-child(2) {
          margin-left: 8px;
        }
      }

      div:nth-child(3) {
        font-weight: bold;
        font-size: 28px;
        margin: 3% 0 5% 0;
      }
    }

    .canvas {
      height: 20vh !important;
      width: 90% !important;
    }


    .hz-line {
      background: $heavy-metal;
      height: 0.7px;
      width: 100%;
      opacity: 0.5;
    }

    .card-info {
      margin: 5% 0 0 40px;

      .price {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        transform: translateX(-5%);
        margin-bottom: 2.5%;

        span:nth-child(2) {
          padding-left: 8px;
          font-size: 12px;
          align-self: flex-end;
        }

        .coin {
          margin-right: 7px;

          img {
            width: 23px;
          }
        }
      }

      div:nth-child(2) {
        font-size: 18px;
        font-weight: bold;
        opacity: 0.8;
      }

      div:nth-child(3) {
        margin: 5px 10% 0 0;
        font-size: 14px;
        opacity: 0.5;
      }
    }
  }

  .button-wrapper {
    div:nth-child(1) {
      font-size: 18px;
    }

    .button {
      width: calc(200px + 10vw);
    }
  }
}

//main-slider
.slide-wrapper {
  position: relative;
  height: 50%;
  width: 100%;

  .slide-wrapper-inner {
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
    padding-left: 15%;
    overflow: scroll;
    scrollbar-width: none;
    transform: translateY(10%);
    float: right;

    .blank-space {
      position: relative;
      min-width: 15px;
      min-height: 20px;
    }
  }

  .slide-card {
    position: relative;
    background: #EBEBEB;
    border-radius: 20px;
    height: 75%;
    width: 150px;
    min-width: 140px;
    min-height: 210px;
    margin: 8% 20px 5% 3%;
    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.12);
    transition: all 300ms $ease;

    @media (max-height: 709px) {
      margin: 8% 25px 5% 3%;
    }

    .slide-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 90%;
      min-height: 190px;

      .slide-img {
        width: 100%;
        height: 100%;
        transition: transform 300ms $ease;
      }

      .slide-letter {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 0%;
        margin: 0 10% 0 15%;

        span:nth-child(1) {
          font-family: $Goldman-medium;
        }

        span:nth-child(2) {
          margin-top: 5px;
          font-family: $Goldman-regular;
          font-size: 11px;
          word-break: normal;
          opacity: 0.4;
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      left: 0;
      top: 0;
    }
  }

  .rich {
    .slide-img {
      transform: translate(-30%, 10%);

      img {
        width: 105%;
      }
    }
  }

  .poor {
    .slide-img {
      transform: translate(-10%, -15%);

      img {
        width: 95%;
      }
    }
  }

  .any {
    .slide-img {
      transform: translate(-10%, 5%);

      img {
        width: 100%;
      }
    }
  }

  .checked {
    background: $light-yellow;
    transform: translate(-6%, -6%);

    .slide-img {
      transform: rotateZ(12deg);
    }
  }
}

.pick {
  position: relative;
  display: flex;
  align-items: center;
  left: -27%;
  top: calc(5% + 1vh);

  div:nth-child(2) {
    font-size: 14px;
    margin-left: 10px;
    font-family: $Apercu;
  }
}